:root{
    --altura-header-burger: 55px;
}

  @media (max-width:1423px){
   
    header{
        position: sticky;
    }

    .contenedor{
        padding-top: 0;
    }

  }
  
  @media (max-width:1280px){
   
   .contenedor{       
    /* padding: 0 50px 0 50px;     */
   } 

  }

  @media (max-width:1024px){
   
    .contenedor{        
     padding: 0 50px 0 50px;     
    } 

    .contacto .info{
        flex-basis: 47%;
    }
 
   }

   @media (max-width:768px){
   
    .contenedor{        
        padding: 0 50px 0 50px;     
    } 
    
    .contenedor-home .mi-imagen{
        display: none;
    }

    .contenedor-home .descripcion-img{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .contenedor-home .nombre-descripcion{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contenedor-home .nombre-descripcion p{
        text-align: left;
    }

    .servicios .contenedor-cards .card{
        flex-basis: 45%;        
    }
    .mas-chico{
        width: 100%;
    }

    .contacto{
        flex-direction: column;
        justify-content: center;
    }

    .contacto .info{
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .icono{
        width: 25px;
        height: 25px;
    }
    
   }
   
   @media (max-width:480px){
   
    .contenedor{
        padding-right: 20px;
        padding-left: 20px;
    }

   header{
    height: var(--altura-header-burger);
    align-items: center;
   }

   nav{
    position:relative;
    width: 100%;
   }

   .lista-nav{    
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 0;
    overflow: hidden;
    width: 100vw;
    background-color:rgba(248, 248, 248, 1);
    transition: all 0.3s;
   }

   .lista-nav a{
    font-size: 200%;
    font-weight: 600;
   }

   header .icono-lista{
    display:block;
    }

    .menu-hamburguesa:checked + .lista-nav{        
     height: calc(100vh - var(--altura-header-burger) - 20px); 
     width: 100%;
    }

   }

   @media (max-width:320px){
   
    .contenedor{        
     padding:0;     
    } 

    .habilidades .front{
        flex-wrap: wrap;
    }

    .redes-email{
        flex-wrap: wrap;
    }
 
   }

   