@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;    
    color: #212121;
}

body{
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenedor{
    width: 63%;
    padding: 50px 106px;
}

/* Inicio Header */
header{    
    position: fixed;
    margin: 0 -10px 0 -10px;
    padding:10px;
    top:0;
    width: 63%;
    display: flex;
    justify-content: space-between;
    background-color:transparent;    
    backdrop-filter: blur(5px);
}

header img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 450px;
}

nav a{
    text-decoration: none;
    text-shadow: 0 0 5px #f8f8f8;
    padding: 5px;
    transition: 0.2s;
}

nav a:hover{
    
    transform: scale(1.05);
    font-weight: bold;
}
/* Fin Header */

/* Inicio Main */

/* Inicio Home */
.contenedor-home{
    width: 100% ;
    margin-bottom: 170px;
}
.contenedor-home .mi-imagen{
    width: 275px;
    height: 275px;
    border-radius: 3px;
}
.descripcion-img{
    width: 100%;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descripcion-img .nombre{
    font-size: 48px;
    margin: 0 0 20px 0;
}
.descripcion-img .nombre span{
    font-weight: bold;
}

.descripcion-img .descripcion{
    font-size: 30px;
    margin: 0;
}

.nombre-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 68%;
}

.contenedor-home .redes-email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 222px 0 0 0;
}

.contenedor-home .redes-email .email{
    font-size: 15px;
}

.contenedor-home .redes-email .icono{
    width: 18px;
    height: 18px;
    padding-right: 30px;
}
.contenedor-home .redes-email .icono{
    width: 18px;
    height: 18px;
    padding-right: 30px;
    transition: 0.2s;
}

.contenedor-home .redes-email .icono:hover{
    transform: scale(1.1);
}

/* Fin Home */