@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;    
    color: #212121;
}

html{    
    scroll-behavior: smooth;
}

body{
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    width: 100%;
    scroll-behavior: smooth;
}

p{
    font-size: 14px;
}

.subtitulo{    
        margin-top: 0;
        padding-top: 205px;
        font-size: 37px;
        margin-bottom: 65px;    
}

h4{
    font-size: 23px;
    font-weight: 500;
}

.contenedor{
    width: 100%;
    max-width: 1210px;
    padding: 50px 106px 0 106px;
}

.icono{
    width: 18px;
    height: 18px;
    padding-right: 0;
    transition: 0.2s;
}

.icono:hover{
    transform: scale(1.1);
}

/* Inicio Header */
 header{    
    position: fixed;
    margin: 0 -10px 0 -10px;
    padding:10px;
    top:0;
    width: 100%;
    max-width: 1210px;
    display: flex;
    justify-content: space-between;
    background-color:rgba(248, 248, 248, 0.8);    
    backdrop-filter: blur(5px);
} 

header .icono-lista{
    display: none;
    position: relative;
    right: 10px;
}

header img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.lista-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

.lista-nav a{
    text-decoration: none;
    text-shadow: 0 0 5px #f8f8f8;
    padding: 5px;
    transition: 0.2s;
}

.lista-nav a:hover{    
    transform: scale(1.1);
}

/* Fin Header */

/* Inicio Main */

/* Inicio Home */

.contenedor-home{
    width: 100% ;
}

.contenedor-home .mi-imagen{
    width: 275px;
    height: 275px;
    border-radius: 3px;
}

.descripcion-img{
    width: 100%;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descripcion-img .nombre{
    font-size: 51px;
    margin: 0 0 20px 0;
}

.descripcion-img .nombre span{
    font-weight: 600;
}

.descripcion-img .descripcion{
    font-size: 30px;
    margin: 0;
}

.nombre-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 68%;
}

.contenedor-home .redes-email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 222px 0 0 0;
}

.contenedor-home .redes-email .redes{
    display: flex;
    flex-wrap: nowrap;
}

.contenedor-home .redes-email .email{
    font-size: 15px;
}

.contenedor-home .redes-email .icono{
    margin-right: 30px;
}

/* Fin Home */

/* Inicio Servicios */

.servicios .subtitulo{
    padding-top: 170px;    
}

.servicios .contenedor-cards{
    display: flex;
    gap: 5%;
}

.contenedor-cards .card{
    flex-basis: 30%;    
}

.card img{
    width: 50px;
    height: 50px;
}

/* Fin Servicios */

/* Inicio Contenedor mas chico */

.mas-chico{
    width: 85%;
}

/* Inicio habilidades */

.habilidades{
    width: 100%;
}

.habilidades .front{    
    display: flex;
    justify-content: space-between;
}

.habilidades .back{
    display: flex;
    gap: 13%
}

.habilidad{
    display: flex;
    align-items: center;
    gap: 9px;
}

.back .habilidad{
    flex-basis: 30%;
}

.habilidad p{
    text-wrap: nowrap;
    font-size: 22px;
}

.habilidades .front i{
    font-size: 50px;
}

.habilidades .back img{
    max-width: 50px;
    height: 50px;
    border-radius: 10px;
}

.habilidades hr{
    margin: 20px 0 20px 0;
}

/* Fin habilidades */

/* Inicio Estudios */

.estudios hr{
    margin: 34px 0;
    opacity: 0.4;
}

.estudios h4{
    margin: 0 0 16px 0;
}

.estudios p{
    margin: 0;
}

/* Fin Estudios */

/* Fin Contenedor mas chico */

/* Inicio Contacto */

.contacto{
    padding-top: 205px ;
    display: flex;
    justify-content: space-between;
}

.contacto h3{
    font-size: 23px;
    font-weight: normal;
}

.contacto .info{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacto .info .subtitulo{
    padding-top: 0;
    margin: 0;
}
.contacto .info h3{
    margin: 0;
}

.contacto .info .redes-email{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contacto .info .opcion{
    font-size: 15px;
}

.contacto .info .email{
    font-size: 17px;
}

.contacto .info .lista-iconos{
    display: flex;
    flex-wrap: nowrap;
}

.contacto .info .icono{
    margin-right: 13px;
}

.contacto .formulario{
    background-color: #212121;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto .formulario form{
    width: 100%;
    min-height: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto .formulario .input{
    width: 75%;
    padding: 26px 5% 3px 0;
    border: none;
    border-bottom: 1px solid rgba(248, 248, 248, 0.7);
    background-color: #212121;
    color: #f8f8f8;
    font-size: 12px;
    outline: none;
}

.contacto .formulario .input:focus{
    border-color: #f8f8f8;
}

.contacto .formulario .input::placeholder{
    color: #f8f8f8;
    opacity: 0.8;
    font-weight: lighter;
}

.contacto .formulario textarea{
    resize: none;
}

.contacto .formulario .contenedor-boton{
    display: flex;
    width: 80%;
    justify-content: right;
}

.contacto .formulario .contenedor-boton button{
    border: none;
    margin-top: 14px;
    border-radius: 1px;
    background-color: #f8f8f8;
    padding: 6px 15px;
    font-size: 12px;
    font-weight: lighter;
    transition: 0.2s;
}

.contacto .formulario .contenedor-boton button:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.3);
}

/* Fin Contacto */

/* Fin Main */

/* Inicio footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

footer p{
    font-size: 17px;
    font-weight: 350;
}

/* Fin Footer */

/* Inicio Menú Hamburguesa */

.menu-hamburguesa{
    display: none;
}

/* Fin Menú Hamburguesa */